{{define "content"}}
    <h1>Все посты</h1>
    <div class="posts-container">
        {{range .Posts}}
            <div class="post">
                <div class="post-flex-wrapper" style="display: flex; justify-content: space-between;">

                    <div class="post-text-side" style="flex: 1;">
                        <h2 style="margin-bottom: 8px;">
                            <a href="/post?id={{.ID}}">{{.Title}}</a>
                        </h2>

                        <div class="post-categories" style="margin-bottom: 15px;">
                            {{range .Categories}}
                                <span class="tag" style="color: #555;" >#{{.}}</span>
                            {{end}}
                        </div>

                        <small style="color: #555;">
                            Автор: <b>{{.AuthorName}}</b> | 👍 {{.Likes}} | 👎 {{.Dislikes}}
                        </small>
                    </div>

                    {{if .ImageURL}}
                        <div class="post-image-side">
                            <a href="/post?id={{.ID}}">
                                <img src="/{{.ImageURL}}" alt="{{.Title}}"
                                     style="width: 200px; height: 150px; object-fit: cover; border-radius: 8px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
                            </a>
                        </div>
                    {{end}}

                </div>
            </div>
        {{else}}
            <p>Постов пока нет.</p>
        {{end}}
    </div>
{{end}}