{{define "content"}}
  <div class="auth-wrapper">
    <form class="auth-card" action="/register" method="POST">
      <h2>Регистрация</h2>

      <input
              type="email"
              name="email"
              placeholder="Email"
              required
      >

      <input
              type="text"
              name="username"
              placeholder="Имя пользователя"
              required
      >

      <input
              type="password"
              name="password"
              placeholder="Пароль"
              required
      >

      <button type="submit">Зарегистрироваться</button>

      <p class="auth-hint">
        Уже есть аккаунт?
        <a href="/login">Войти</a>
      </p>
    </form>
  </div>
{{end}}
